In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import statsmodels.formula.api as smf


from sklearn import linear_model
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch

from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve, roc_auc_score

In [14]:
#mtpb1 is midterm problem 1 
mtpb1 = pd.read_csv('dermatology.csv', sep='\t')
mtpb1.head()

,Erythema,Scathing,Definite Borders,Itching,Koebner,Polygonal,Follicular,Oral,Knee,Scalp,...,Disapperance,Vacuolisation,Spongiosis,Retes,Follicular.1,Perifollicular,Inflamatory,Band-like,Age,Disease
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3

In [15]:
mtpb1.describe()

,Erythema,Scathing,Definite Borders,Itching,Koebner,Polygonal,Follicular,Oral,Knee,Scalp,...,Focal,Disapperance,Vacuolisation,Spongiosis,Retes,Follicular.1,Perifollicular,Inflamatory,Band-like,Disease
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,2.068306,1.795082,1.549180,1.366120,0.633880,0.448087,0.166667,0.377049,0.614754,0.519126,...,0.393443,0.464481,0.456284,0.953552,0.453552,0.103825,0.114754,1.866120,0.554645,2.803279
std,0.664753,0.701527,0.907525,1.138299,0.908016,0.957327,0.570588,0.834147,0.982979,0.905639,...,0.849406,0.864899,0.954873,1.130172,0.954744,0.450433,0.488723,0.726108,1.105908,1.597803
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,3.000000
75%,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,4.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,6.000000

In [17]:
mtpb1['Age'] = pd.to_numeric(mtpb1['Age'],errors='coerce')
mtpb1['Age'] = mtpb1['Age'].fillna(0.0).astype(int)

In [18]:
list_of_column_names2 = list(mtpb1.columns)
list_of_column_names2

['Erythema',
 'Scathing',
 'Definite Borders',
 'Itching',
 'Koebner ',
 'Polygonal',
 'Follicular',
 'Oral',
 'Knee',
 'Scalp',
 'Family Hostory',
 'Melanin',
 'Eosinophils',
 'PNL',
 'Fibrosis',
 'Exocytosis',
 'Acanothosis',
 'Hyperkeratosis',
 'Parakeratosis',
 'Clubbing',
 'Elongation',
 'Thinning',
 'Spongiform',
 'Munro',
 'Focal',
 'Disapperance',
 'Vacuolisation',
 'Spongiosis',
 'Retes',
 'Follicular.1',
 'Perifollicular',
 'Inflamatory',
 'Band-like',
 'Age',
 'Disease']

In [20]:
#The database in question holds 34 attributes with the 35th attribute being the disease name or class label. The patient names and identification numbers have been removed from the database.

#Differentiating between erythemato-squamous diseases is a prevalent issue in dermatology due to their similar clinical symptoms, including erythema and scaling. These diseases include psoriasis, seborrheic dermatitis, lichen planus, pityriasis rosea, chronic dermatitis, and pityriasis rubra pilaris. While a biopsy is often required for proper diagnosis, these diseases also share many histopathological features, making the differentiation process even more challenging. Additionally, a disease may initially present as another condition, complicating the diagnostic process even further. The patients in the study were first evaluated based on 12 clinical features and later underwent a skin sample analysis to evaluate 22 histopathological features. These features were rated on a scale of 0 to 3, where 0 indicates the absence of the feature, 3 indicates the highest possible amount, and 1 and 2 indicate intermediate values.

#The dataset also includes a family history feature, with a value of 1 if any of these diseases have been observed in the patient's family, and 0 otherwise. The age of the patient is also recorded as a feature.

In [21]:
#preprocessing

print(dermatology["Age"].dtype)
print(dermatology['Age'].loc[dermatology['Age']=="?"].count())

# assign values to "?" & the type of Age
mean = dermatology['Age'].loc[dermatology['Age']!="?"].astype(int).mean()
dermatology.loc[dermatology['Age']=="?", 'Age'] = mean
dermatology['Age'] = dermatology['Age'].astype(int)

object
8

In [22]:
#Creating the linear model
lr_model = smf.ols(formula = 'Disease ~ Age', data = dermatology).fit()
lr_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Disease   R-squared:                       0.063
Model:                            OLS   Adj. R-squared:                  0.060
Method:                 Least Squares   F-statistic:                     24.35
Date:                Sat, 04 Feb 2023   Prob (F-statistic):           1.23e-06
Time:                        11:27:41   Log-Likelihood:                -678.50
No. Observations:                 366   AIC:                             1361.
Df Residuals:                     364   BIC:                             1369.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.7612      0.210     17.881      0.000       3.348       4.175
Age           -0.0264      0.005     -4.934      0.000      -0.037      -0.016
==============================================================================
Omnibus:                      176.043   Durbin-Watson:                   1.484
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.158
Skew:                           0.234   Prob(JB):                     5.68e-06
Kurtosis:                       1.832   Cond. No.                         102.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
#define X & y
X = dermatology["Age"]
X = sm.add_constant(X)
y = dermatology["Disease"]

def grad_descent(X, y, alpha, epsilon):
    # print(X)
    iteration = [0]
    i = 0
    theta = np.ones(shape=(2, 1))
    X = X + np.array([1,0])

    cost = [np.transpose(X @ theta - y) @ (X @ theta - y)]
    delta = 1
    while (delta>epsilon):
        
        theta = theta - alpha*((np.transpose(X)) @ (X @ theta - y))
        cost_val = (np.transpose(X @ theta - y)) @ (X @ theta - y)
        cost.append(cost_val)
        # print(cost_val)
        # print(cost[i+1])
        delta = abs(cost[i+1]-cost[i])
        if ((cost[i+1]-cost[i]) > 0):
            print("The cost is increasing. Try reducing alpha.")
            break
        iteration.append(i)
        i += 1
        
    print("Completed in %d iterations." %(i))
    return(theta, cost)

y = np.expand_dims(y, axis=1)

theta, cost = grad_descent(X = preprocessing.scale(X), y=y, alpha=0.0001, epsilon = 10**-10)

print (theta)

Completed in 376 iterations.
[[ 2.80327722]
 [-0.39952574]]

/Users/aliqazi/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [27]:
X = dermatology.iloc[:,:-1]
y = dermatology.iloc[:,-1]

acc_list = []
for i in range(100):
    #Creating X and Y for training and testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

    rfc = RandomForestClassifier(n_estimators=100)
    # y_train is a column vector, but 1d array is expected. Therefore, we need to
    # change the shape to (n_samples,)
    rfc.fit(X_train, y_train.values.ravel())

    predictions = rfc.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    acc_list.append(accuracy)

df_acc = pd.DataFrame(acc_list, columns = ["accuracy"])
df_acc.describe()

         accuracy
count  100.000000
mean     0.974909
std      0.013373
min      0.936364
25%      0.963636
50%      0.972727
75%      0.981818
max      1.000000

In [28]:
X = preprocessing.scale(dermatology.iloc[:,:-1])

acc_list = []
for i in range(100):
    #Creating X and Y for training and testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
    
    k_acc_record = []
    for k in range(2, 11):
        #Creating KNN Classfier model
        knn = KNeighborsClassifier(n_neighbors=k)

        #Fitting the training data
        knn.fit(X_train,y_train)

        #Predicting on the test data
        predictions = knn.predict(X_test)

        accuracy = accuracy_score(y_test,predictions)
        
        k_acc_record.append(accuracy)
    acc_list.append(k_acc_record)

In [29]:
cols = ["k_"+str(i) for i in range(2,11)]
df_acc = pd.DataFrame(acc_list, columns = cols)
df_acc.describe()

,k_2,k_3,k_4,k_5,k_6,k_7,k_8,k_9,k_10
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.937545,0.951000,0.954818,0.953364,0.955545,0.951727,0.952455,0.951273,0.953000
std,0.017271,0.017853,0.016110,0.017125,0.016693,0.018305,0.017710,0.018479,0.018184
min,0.890909,0.909091,0.918182,0.909091,0.918182,0.909091,0.900000,0.900000,0.900000
25%,0.927273,0.936364,0.945455,0.945455,0.945455,0.943182,0.945455,0.936364,0.945455
50%,0.936364,0.954545,0.954545,0.954545,0.954545,0.954545,0.954545,0.954545,0.954545
75%,0.947727,0.963636,0.963636,0.963636,0.972727,0.963636,0.963636,0.963636,0.963636
max,0.972727,0.981818,0.990909,0.981818,0.990909,0.990909,0.990909,0.990909,0.990909

In [30]:
#model 4: kmean
X = dermatology.iloc[:,:-1]
num_group = len(dermatology.Disease.groupby(dermatology.Disease).count())
print("# groups:", num_group)
scaler = preprocessing.StandardScaler()

kmeans = KMeans(n_clusters=num_group)

#Fitting the model
y_kmeans = kmeans.fit_predict(X)
centroids = kmeans.cluster_centers_

# groups: 6

In [31]:
#model 5 Agglomerative Clustering
ac = AgglomerativeClustering(n_clusters = num_group) 
y_ac = ac.fit_predict(X)

In [34]:
temp_dict = {"y": y, "y_kmeans": y_kmeans, "y_ac": y_ac}
result = pd.DataFrame(temp_dict)
result["y"].value_counts(), result["y_kmeans"].value_counts(), result["y_ac"].value_counts()

(1    112
 3     72
 2     61
 5     52
 4     49
 6     20
 Name: y, dtype: int64,
 4    93
 0    86
 1    64
 3    62
 5    32
 2    29
 Name: y_kmeans, dtype: int64,
 0    115
 3     68
 1     58
 4     57
 2     45
 5     23
 Name: y_ac, dtype: int64)

In [35]:
#mtp2 is midterm problem 2 
mtpb2 = pd.read_csv("hatecrime.csv")
mtpb2.head()

,state,median_household_income,share_unemployed_seasonal,share_population_in_metro_areas,share_population_with_high_school_degree,share_non_citizen,share_white_poverty,gini_index,share_non_white,share_voters_voted_trump,hate_crimes_per_100k_splc,avg_hatecrimes_per_100k_fbi
0,Alabama,42278,0.060,0.64,0.821,0.02,0.12,0.472,0.35,0.63,0.125839,1.806410
1,Alaska,67629,0.064,0.63,0.914,0.04,0.06,0.422,0.42,0.53,0.143740,1.656700
2,Arizona,49254,0.063,0.90,0.842,0.10,0.09,0.455,0.49,0.50,0.225320,3.413928
3,Arkansas,44922,0.052,0.69,0.824,0.04,0.12,0.458,0.26,0.60,0.069061,0.869209
4,California,60487,0.059,0.97,0.806,0.13,0.09,0.471,0.61,0.33,0.255805,2.397986

In [36]:
#A dataset analyzing hate crimes in the 10 days following the 2016 US elections is attached. During that time, approximately 900 hate incidents were reported to the Southern Poverty Law Center, equating to an average of 90 incidents per day. This is in contrast to the average of 16 hate crimes per day reported to the FBI from 2010 to 2015, a total of 36,000 incidents over the five-year period.

#It is important to note that the data available is limited and cannot definitively prove whether there were more hate crimes in the aftermath of the election than is typical. However, the data can be used to identify trends and examine how hate crimes vary by state and what factors within those states may be contributing to the crime rates.

#The attached dataset includes information on several variables, including:

In [37]:
#Look at the data
mtpb2.isna().sum()

state                                       0
median_household_income                     0
share_unemployed_seasonal                   0
share_population_in_metro_areas             0
share_population_with_high_school_degree    0
share_non_citizen                           3
share_white_poverty                         0
gini_index                                  0
share_non_white                             0
share_voters_voted_trump                    0
hate_crimes_per_100k_splc                   4
avg_hatecrimes_per_100k_fbi                 1
dtype: int64

In [41]:
#preprocessing

nan_list = ["share_non_citizen", "hate_crimes_per_100k_splc", "avg_hatecrimes_per_100k_fbi"]
for col_name in nan_list:
    mean = mtpb2[col_name].mean()
    mtpb2[col_name] = mtpb2[col_name].fillna(mean)
mtpb2.isna().sum()

state                                       0
median_household_income                     0
share_unemployed_seasonal                   0
share_population_in_metro_areas             0
share_population_with_high_school_degree    0
share_non_citizen                           0
share_white_poverty                         0
gini_index                                  0
share_non_white                             0
share_voters_voted_trump                    0
hate_crimes_per_100k_splc                   0
avg_hatecrimes_per_100k_fbi                 0
dtype: int64